USER_FATHER_TKN=''
USER_BOT_URL='t.me/FrontManualBot'
BOT_HELP=`Данный бот предоставляет возможность найти искомый товар со скидкой среди нескольких магазинов. Нужно всего лишь написать название товара и бот найдет магазины, где Ваш товар есть со скидкой`
X5_SEARCH_API='https://5d.5ka.ru/api/catalog/v3/stores/Y232/search'
