USER_FATHER_TKN=''
USER_BOT_URL='t.me/FrontManualBot'
USER_BOT_HELP=`
Для работы с ботом вы можете использовать команды:
/start - запуск бота и отображение игр
/games - отображение клавиатуры для выбора игры
/lucker - случайный выбор счастливчика среди администраторов
/reset - обнуления состояния игр
`
